* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sun-editor {
  margin-top: 46px;
  margin-right: 25%;
}

.se-toolbar.sun-editor-common.se-toolbar-sticky {
  top: 47px !important;
}

.se-wrapper-inner.se-wrapper-wysiwyg.sun-editor-editable,
.se-wrapper-inner.se-wrapper-code {
  height: calc(100vh - 124px) !important;
}

html, 
body,
#root,
.App {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
}

.Toastify__toast-container.Toastify__toast-container--top-right {
  z-index: 9999999999;
}